@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: beige;
    font-family: roboto, sans-serif;

}

main{
    max-width: 38rem;
    margin: 2.5rem auto;
    padding: 1.25rem;
    border: 1px solid beige;
    background-color: aliceblue;
    border-color: whitesmoke;
}

#cidade{
    width: 100%;
    padding: 0.625rem;
    font-size: 1rem;
}

.cidade {
    width: 100%;
    padding: 0.625rem;
    cursor:pointer;
    background-color: azure;
    border: 1px solid white

}

.cidade:hover {
    background-color:bisque;
}

#previsao{
    margin-top: 1rem;
}

.dia {
    border: 1px solid rgb(63, 117, 165);
    padding : 0.625rem
}